<% layout('mainLayout') %>
				<div class="row page-header">
				  <div class="col-lg-12">
				    <div class="h1"><%= location.header %></div>
				  </div>
				</div>
				<div class="row">
				  <div class="col-xs-12 col-md-10">
				    <div class="row">
				      <div class="col-xs-12 col-sm-6">
				        <% for (var i = 1; i <= location.rating; i++) { %>
                <span class="rating"><span class="glyphicon glyphicon-star"></span>
                <% } %>
                <% for (var i = location.rating; i < 5; i++) { %>
                <span class="glyphicon glyphicon-star-empty"></span>
                <% } %>
				        </p>
				        <p>
				        <%= location.address.replace(/\n/g, '</p>') %>
				        </p>
				          <div class="panel panel-primary">
				            <div class="panel-heading">
				              <h2 class="panel-title">Location Hours</h2>
				            </div>
				            <div class="panel-body">
				            <% location.hours.forEach(function (time){ %>
				            	<p><%= time.days %> : &nbsp;<% if(time.closed) { %> Closed
				            		<% } else { %>
				            		<%= time.hours %>
				            		<% } %></p>
				            <% }); %>
				            </div>
				          </div>
				          <div class="panel panel-primary">
				            <div class="panel-heading">
				              <h2 class="panel-title">Notable Features</h2>
				            </div>
				            <div class="panel-body">
										<% location.attributes.forEach(function (attr){ %>
				            <span class="label label-warning"><span class="glyphicon glyphicon-ok"></span><%= attr %></span>&nbsp;&nbsp;
				            <% }); %>
				            </div>
				          </div>
				        <div class="col-xs-12 col-sm-6 location-map">
				          <div class="panel panel-primary">
				            <div class="panel-heading">
				              <h2 class="panel-title">Location map</h2>
				            </div>
				            <div class="panel-body">
				            <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= location.cord1 %>,<%= location.cord2 %>&amp;zoom=17&amp;size=400x350&amp;sensor=false&amp;markers=<%= location.cord1 %>,<%= location.cord2 %>&amp;scale=2" class="img-responsive img-rounded"/></div>
				          </div>
				        </div>
				      </div>
				    </div>
				    <div class="row">
				      <div class="col-xs-12">
				        <div class="panel panel-primary review-panel">
				          <div class="panel-heading"><a href="/location/review/new" class="btn btn-default pull-right">Add review</a>
				            <h2 class="panel-title">Customer reviews</h2>
				          </div>
				          <div class="panel-body review-container">
				            <div class="row">
				              <div class="review">
				                <% reviews.forEach(function (review){ %>
				                <div class="well well-sm review-header">
					                <span class="rating">
					                <% for (var i = 1; i <= review.rating; i++) { %>
					                <span class="glyphicon glyphicon-star"></span>
					                <% } %>
					                <% for (var i = review.rating; i < 5; i++) { %>
					                <span class="glyphicon glyphicon-star-empty"></span>
					                <% } %>
					                </span><span class="reviewAuthor">
					                <%= review.author %>
					                </span><small class="reviewTimestamp">
					                <%= review.timestamp %>
					                </small>
					                <div class="col-xs-12">
				                  <p>
				                  <%= review.body %>
				                  </p>
					                </div>
					              </div>
					              <% }); %>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
				    <div class="col-xs-12 col-md-6">
				      <p class="lead">
				      <%- sidebar.one.replace(/\n/g, '</p>') %>
				      <p>
				      <%- sidebar.two.replace(/\n/g, '</p>') %>
				    </div>
				  </div>
				</div>		